.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1; /* Fill remaining space */
}
  
.grid-item {
  background-color: lightgray;
  padding: 10px;
  flex-basis: 25%;
  margin: 10px; /* Add margin for spacing */
  max-width: 200px;
  max-height: 200px;
}

.inventory-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--body-color); 
  margin: 5rem auto;
  width: 90%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
  transition: 0.6s;
}

.inventory-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%
}