.LandingPage {
  display: flex;
  color: #52527B;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-image: url('../img/gradient.png');
  background-size: cover; /* Adjust the background-size property as needed */
  background-repeat: no-repeat;
  background-position: center;
  height: 57vw;
  width: 100%;
  margin: 0;
}


